# Apply linting and testing
name: CI Pipeline

on:
  push:

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.head_ref || github.ref_name }}{% endraw %}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v8.3.2
        with:
          enable-cache: true
      - name: Install Python {{ python_version }}
        run: uv python install {{ python_version }}
      - name: Install just
        uses: extractions/setup-just@v4
      - name: Install dependencies
        run: just install
      - name: Run linting
        run: |
          just check-lint

  tests:
    name: Run tests ({% raw %}${{ matrix.os }}{% endraw %}, Python {% raw %}${{ matrix.python-version }}{% endraw %})
    needs: lint
    runs-on: {% raw %}${{ matrix.os }}{% endraw %}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - '{{ python_version }}'
    env:
      OS: {% raw %}${{ matrix.os }}{% endraw %}
      PYTHON: {% raw %}${{ matrix.python-version}}{% endraw %}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v8.3.2
        with:
          enable-cache: true
      - name: Install Python {% raw %}${{ matrix.python-version }}{% endraw %}
        run: uv python install {% raw %}${{ matrix.python-version }}{% endraw %}
      - name: Install just
        uses: extractions/setup-just@v4
      - name: Run tests
        run: |
          just tests
      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v6
        with:
          file: ./coverage.xml
          env_vars: OS,PYTHON
          token: {% raw %}${{ secrets.CODECOV_TOKEN }}{% endraw %}
          fail_ci_if_error: true
          flags: unittests
          verbose: true
